@import "tailwindcss";
@theme {
    --font-primary: "Libre Franklin", sans-serif; 
    --font-secondary: "Antonio", sans-serif;
    --color-primary: #FFD4D0; 
  }
@layer base {
    body {
      @apply bg-black text-white;
    }
  }
  